{% extends "base.html" %}

{% block jscontent %}
<script src="{{ static_url("js/work.js") }}"></script>
{% end %}

{% block content 
%}
<div class="ui container">

    <div class="ui segment" id="uisegment">
        <h1><center>Question Paper Analyzer</center></h1>
    </div>
   
        <div class="comp" id="comp">
            <p>Computer Engineering</p>
            <ul>
                <li> Semester 7</li>
                 <ul>
                    <li>Digital Signal and Image Prosessing</li>
                    <a href="https://muquestionpapers.com/download/Comps/SEM7%20CBCGS/BE-Comps_SEM7_DSIP-CBCGS_DEC19.pdf">Dec19</a>
                    <li>Big Data Analysis</li>
                    <a href="https://muquestionpapers.com/download/Comps/SEM7%20CBCGS/BE-Comps_SEM7_BDA-CBCGS_DEC19.pdf">Dec19</a>&nbsp;&nbsp;
                    <a href="https://files.stupidsid.com/university_papers/engineering/M19/BE/COMP/Sem-8/BDA.pdf">May19</a>&nbsp;&nbsp;
                    <a href="https://files.stupidsid.com/university_papers/engineering/D18/BE/COMP/Sem-8/BDA.pdf">Dec18</a>
                    <li>Mobile Communication and Computing</li>
                    <a href="https://muquestionpapers.com/download/Comps/SEM7%20CBCGS/BE-Comps_SEM7_MIS-CBCGS_DEC19.pdf">Dec19</a>
                    <li>Multimedia System</li>
                    <a href="https://muquestionpapers.com/download/IT/SEM7%20CBCGS/BE-IT_SEM7_END-CBCGS_DEC19.pdf">Dec19</a>
                    
                 </ul>
             </ul>
             <ul>
                <li> Semester 8</li>
                 <ul>
                    <li>Natural Language Processing</li>
                    <a href="https://muquestionpapers.com/download/IT/SEM7%20CBCGS/BE-IT_SEM7_END-CBCGS_DEC19.pdf">Dec19</a>
                    <li>Human Machine Interaction</li>
                    <a href="https://muquestionpapers.com/download/IT/SEM7%20CBCGS/BE-IT_SEM7_END-CBCGS_DEC19.pdf">Dec19</a> 
                    <li>Distributed Computing</li>
                    <a href="https://muquestionpapers.com/download/IT/SEM7%20CBCGS/BE-IT_SEM7_END-CBCGS_DEC19.pdf">Dec19</a>
                    <li>Project Management</li>
                    <a href="https://muquestionpapers.com/download/IT/SEM7%20CBCGS/BE-IT_SEM7_END-CBCGS_DEC19.pdf">Dec19</a>
                 </ul>
             </ul>
            </p> 
        
        </div>

 
    
        <div class="it" id ="it">
            <p>Information Technology
            <ul>
                <li> Semester 7</li>
                 <ul>
                    <li>Enterprise Network Design</li>
                    <a href="https://muquestionpapers.com/download/IT/SEM7%20CBCGS/BE-IT_SEM7_END-CBCGS_DEC19.pdf">Dec19</a>              
                    <li>Infrastructure Security</li>
                    <a href="https://muquestionpapers.com/download/IT/SEM7%20CBCGS/BE-IT_SEM7_IS-CBCGS_DEC19.pdf">Dec19</a>
                    <li>Artificial Intelligence</li>
                    <a href="https://muquestionpapers.com/download/IT/SEM7%20CBCGS/BE-IT_SEM7_AI-CBCGS_DEC19.pdf">Dec19</a>
                    <li>Software Engineering and Quality Assurance</li>
                    <a href="https://muquestionpapers.com/download/IT/SEM7%20CBCGS/BE-IT_SEM7_STQA-CBCGS_DEC19.pdf">Dec19</a>&nbsp;&nbsp; 
                    <a href="https://muquestionpapers.com/download/IT/SEM8%20IT/STQA/BE-IT_SEM8_STQA_MAY19.pdf">May19</a>&nbsp;&nbsp;
                    <a href="https://muquestionpapers.com/download/IT/SEM8%20IT/STQA/BE-IT_SEM8_STQA_DEC18.pdf">Dec18</a>

                 </ul>
             </ul>
             <ul>
                <li> Semester 8</li>
                 <ul>               
                    <li>Big Data Analysis</li>
                    <a href="https://muquestionpapers.com/download/IT/SEM8%20IT/BDA/BE-IT_SEM8_BDA_DEC19.pdf">Dec19</a>&nbsp;&nbsp;
                    <a href="https://muquestionpapers.com/download/IT/SEM8%20IT/BDA/BE-IT_SEM8_BDA_MAY19.pdf">May19</a>&nbsp;&nbsp;
                    <a href="https://muquestionpapers.com/download/IT/SEM8%20IT/BDA/BE-IT_SEM8_BDA_DEC18.pdf">Dec18</a>
                    <li>Enterprise Resource Planning</li> 
                    <a href="https://muquestionpapers.com/download/IT/SEM8%20IT/ERP/BE-IT_SEM8_ERP_MAY19.pdf">May19</a>&nbsp;&nbsp;
                    <a href="https://muquestionpapers.com/download/IT/SEM8%20IT/ERP/BE-IT_SEM8_ERP_DEC18.pdf">Dec18</a>&nbsp;&nbsp;
                    <a href="https://muquestionpapers.com/download/IT/SEM8%20IT/ERP/BE-IT_SEM8_ERP_MAY18.pdf">May18</a>
                    <li>Soft Computing</li>
                    <a href="https://muquestionpapers.com/download/IT/SEM8%20IT/SC/BE-IT_SEM8_SC_MAY19.pdf">May19</a>&nbsp;&nbsp;
                    <a href="https://muquestionpapers.com/download/IT/SEM8%20IT/SC/BE-IT_SEM8_SC_DEC18.pdf">Dec18</a>&nbsp;&nbsp;
                    <a href="https://muquestionpapers.com/download/IT/SEM8%20IT/SC/BE-IT_SEM8_SC_MAY18.pdf">May18</a>
                    <li>Environmental Management</li>
                    <a href="https://muquestionpapers.com/download/IT/SEM7%20CBCGS/BE-IT_SEM7_STQA-CBCGS_DEC19.pdf">Dec19</a>
                 </ul>
             </ul>
            </p> 
        </div>
    

    
</div>
{% end %}

{% block endjscontent %}
<script>
    var btn = document.getElementById('btn');
    var clipboard = new Clipboard(btn);
    clipboard.on('success', function(e) {
        console.log(e);
    });
    clipboard.on('error', function(e) {
        console.log(e);
    });
</script>
{% end %}
